name: youtube-automation

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth (WIF)
        uses: google-github-actions/auth@v2
        with:
           workload_identity_provider: "projects/254125926608/locations/global/workloadIdentityPools/github-pool/providers/XXXXXXXXXXXX"
           service_account: "axion-tts@lively-clover-483605-q8.iam.gserviceaccount.com"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Debug
        run: |
          pwd
          ls -la

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r "${{ github.workspace }}/requirements.txt"

      - name: Run TTS generator
        run: python "${{ github.workspace }}/tts_generator.py"
